In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np
import re
import string
import warnings
import nltk
from nltk import word_tokenize
from string import punctuation
warnings.filterwarnings('ignore')
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_topics=pd.read_csv('topic.csv')

In [3]:
df_indeed=pd.read_csv('processed_indeed.csv')
df_ibm=pd.read_csv('processed_ibm.csv')
df_gm=pd.read_csv('processed_gm.csv')
df_accenture=pd.read_csv('processed_accenture.csv')

In [4]:
def replace_by_list(string):
    string=str(string)
    #df_topics=pd.read_csv('topics.csv')
    replace=string.split()
    for column in df_topics.columns:
        for word in df_topics[column].dropna():
            for i in range(len(replace)):
                if replace[i]==word:
                    replace[i]=column
    return ' '.join(replace)

In [5]:
def no_dup(dataframe,column_name):
    newdf=dataframe.copy()
    for i in range(len(newdf)):
        if type(newdf.iloc[i][column_name]) is str:
            newdf.iloc[i][column_name]= ' '.join(str(s) for s in set((newdf.iloc[i][column_name].split())))
    return newdf[column_name]

In [6]:
def to_one_string(dataframe,column_name):
    string=''
    for text in dataframe[column_name]:
        if type(text) is str:
            strs=' '.join(str(s) for s in text.split())
            string=string+strs
    return string

In [7]:
def count_words(listing,df_topics):
    word_count_replaced=pd.Series(listing).value_counts().reset_index()
    word_count_replaced.columns=['word','count']
    b_count_replaced=word_count_replaced[word_count_replaced['word'].isin(df_topics.columns)]
    return b_count_replaced

In [74]:
df_ibm['advice']=df_ibm['advice'].map(replace_by_list)

In [75]:
df_ibm['advice']=no_dup(df_ibm,'advice')

In [76]:
replaced_list=to_one_string(df_ibm,'advice').split()

In [77]:
count_words(replaced_list,df_topics)

                     word  count
1              management    110
6      career_development     51
7              supportive     49
12        pay_and_benefit     32
58             innovative     13
70          skillOriented     12
89                 ethics     10
123     work_life_balance      8
131             structure      8
169  performance-Oriented      6
486        levelofleisure      3
721            team_first      2

In [78]:
wordcount=count_words(replaced_list,df_topics)

In [79]:
wordcount.to_csv('ibmadvice.csv')